*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(255, 255, 255, 1);
}

a{
  text-decoration: none;
}

/* Header Styling */

.top-header{
  position: relative;
  width: 1110px;
  margin-inline:auto;
  border-bottom: 1px solid rgba(228, 233, 242, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header a{
  display: inline-block;
  padding: 28px 0px 34px 0px;
  transition: border .3s ease;
  border-bottom: 4px solid transparent;
}

.header-left-side a:has(img){
  padding: 0px !important;
  border: none !important;
}

.header-left-side{
  display: flex;
  gap: 56px;
  align-items: center;
}

.logo{
  color: #1D2026;
  cursor: pointer;
}

.nav-elements-container{
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-elements-container .nav-element{
  color: rgba(105, 112, 125, 1);
  font-size: 15px;
  line-height: 26px;
}

.header-right-side{
  display: flex;
  align-items: center;
  gap: 46px;
}

.header-right-side button:not(.checkout-btn){
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
}


/* Main Page Product Styling */

.container{
  width: 1110px;
  margin-inline: auto;
  padding: 90px 48px;
}

.category-container{
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  button{
      border: none;
      border-radius: 10px;
      background-color: #FF7E1B;
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
      transition: all .2s ease;
  }
}

.category-container button:hover{
  background: rgba(255, 171, 106, 1);
  scale:1.1;
}

.category-btn.active{
  scale: 1.1;
  background-color: #b51822;
}

.category-btn.active:hover{
  background-color: #b51822;
}

.product-page{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  justify-content: center;
}

.product-col-3{
  border: 1px solid #FF7E1B;
  border-radius: 10px;
  transition: transform .3s ease;
}

.product-col-3 a{
  display: inline-block;
  color: #1D2026;
  background-color: rgb(248,249,250);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.product{
  background-color: #69707D;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5031);
}

.image-container{
  position: relative;
  height: 300px;
}

.image-container img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-container .badge-sale{
  position: absolute;
  background-color: #FF7E1B;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  rotate: -30deg;
  top: -6px;
  left: -14px;
}

.product-info-area{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

.product-info-area .product-brand-description{
  font-weight: 700;
  color: rgba(29, 32, 38, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.brand{
  color: #FF7E1B;
}

.badge-old-price{
  color: #B6BCC8;
  font-weight: 700;
  line-height: 26px;
  text-decoration: line-through;
  margin-right: 15px;
}

.badge-new-price{
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

.product-info-area .rating-container{
  display: flex;
  gap: 10px;
}

.product-info-area .ratings{
  position: relative;
  display: flex;
  gap: 2px;
  height: 14px;
}


/* Product Page Styling */

.product-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-items: center;
}

.product-left-side-container{
  width: 445px;
}

.big-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-image-container img{
  max-width: 445px;
  max-height: 445px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}

.small-image-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 32px;
}

.small-image-container img{
  width: 88px;
  height: 88px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.small-image-container .current-image{
  border: 2px solid rgba(255, 126, 27, 1);
  opacity: .3;
}

.product-right-side-container{
  display: flex;
  flex-direction: column;
}

.product-right-side-container .brand{
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
}

.product-right-side-container .name{
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(29, 32, 38, 1);
  margin-top: 27px;
  margin-bottom: 32px;
}

.product-right-side-container .description{
  line-height: 26px;
  color: rgba(105, 112, 125, 1);
  margin-bottom: 24px;
}

.product-right-side-container .discount-rate{
  padding: 6px 8px;
  background-color: rgba(255, 238, 226, 1);
  border-radius: 10px;
  color: #FF7E1B;
  font-weight: 700;
  line-height: 20px;
  margin-left: 16px;
}

.product-right-side-container .price-container{
  margin-bottom: 32px;
}

.product-right-side-container .add-card-container{
  display: flex;
  gap: 16px;
}

.product-right-side-container .big-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 77px;
  gap: 16px;
  font-size: 16px;
  border: none;
  background-color: #FF7E1B;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(255, 126, 27, 1);
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  transition: background .3s ease;
}

.product-right-side-container .quantity-container a{
  padding: 18px 16px;
  font-weight: 700;
  color: #FF7E1B;
}

.product-right-side-container .quantity-container{
  display: flex;
  align-items: center;
  background: rgba(246, 248, 253, 1);
  border-radius: 10px;
}

.product-right-side-container .quantity-content{
  width: 60px;
  text-align: center;
}


.empty .star{
  background: url(https://cdn.dsmcdn.com/web/production/rating-and-review-small-star-grey.svg) no-repeat center;
}

.full .star{
  background: url(https://cdn.dsmcdn.com/web/production/rating-and-review-small-star-orange.svg) no-repeat center;
}

.star{
  width: 14px;
  height: 14px;
  transform: scale(.85);
}

/* Basket Result */

.basket-result{
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  top: 0px;
  right: -25%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5031);
  width: 360px;
  border-radius: 8px;
  z-index: 999;
  transition: 1s;
  opacity: 0;
}

.basket-result.show{
  opacity:1;
  right: 0;
}

.cart-header{
  display: flex;
  align-items: center;
  padding: 24px 0px 27px 24px;
  text-align: left;
  border-bottom: 1px solid rgba(228, 233, 242, 1);
}

.cart-header h3{
  font-size: 25px;
}

.close-offcanvas{
margin-right: 30px;   
}

.cart-body{
  display: flex;
  padding: 24px;
  justify-content: space-between;
}

.cart-container{
  display: flex;
  gap: 16px;
}

.cart-infos{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cart-infos .thin-text{
  line-height: 26px;
  color: rgba(105, 112, 125, 1);
}

.cart-infos .bold-text{
  font-weight: 700;
  line-height: 26px;
  color: rgba(29, 32, 38, 1);
}

.delete-btn{
  padding: 20px;
}

.empty-cart{
  padding: 50px;
  text-align: center;
}

.message-box{
  position: fixed;
  bottom: 10%;
  right: 10%;
}
.total-basket-price{
  padding: 24px;
}
.inline-text{
  margin-left: 5px;
  color: #FF7E1B;
}

.success-message{
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  padding: 20px;
}

.removed-message{
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  padding: 20px;
}

/* Basket Product quantity */

.basket-btn{
  position: relative;
}

.basket-btn span{
  position: absolute;
  background-color: #FF7E1B;
  color: white;
  top: 5px;
  right: 6px;
  padding: 2px 8px 1px 8px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;

}

/* Modal Styling */

dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  border: none;
  padding: 30px;
  overflow: visible;
}

.dialog-open{
  animation: opacityAndScale 1s ease;
}

.dialog-closed{
  animation: reverseOpacityAndScale 1s ease;
}

@keyframes reverseOpacityAndScale{
  0%{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
  }
}

@keyframes opacityAndScale{
  0%{
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
  }
  100%{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
  }
}


dialog .big-image-container{
  width: 400px !important;
  height: 400px !important;
}

dialog .big-image{
  max-width: 100%;
  max-height: 100%;
}

dialog::backdrop{
  background: rgba(0,0,0,0.6);
}


dialog button{
  border: none;
  border-radius: 8px;
}

dialog #no{
  background-color: #67727e;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

dialog #yes{
  background-color: #FF7E1B;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

dialog h3,
dialog p{
  margin-bottom: 24px;
}

.big-btn:hover,
.checkout-btn:hover{
  background: rgba(255, 171, 106, 1);
}

.quantity-btn{
  color: #FF7E1B;
  transition: color .3s ease;
}

.quantity-btn:hover{
  color: #FFAB6A !important;
}


.small-image-container img:hover{
  opacity: .5;
}

.top-header a:hover{
  border-bottom: 4px solid #FF7E1B;
}

.nav-element.active{
  border-bottom: 4px solid #FF7E1B;
}

.product-col-3:hover{
  transform: scale(1.05) translateY(-10px);
}

/* Checkout Btn */
.checkout-btn-div{
  margin-top: 30px;
  text-align: center;
}
.checkout-btn{
  border: none;
  width: 80%;
  padding: 18px 77px;
  text-align: center;
  background-color: #FF7E1B;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(255, 126, 27, 1);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background .3s ease;
}

/* Checkout Success Message */
.success-message-dialog{
  text-align: center;
}

.success-message-dialog h3{
  border-bottom: 1px solid #B6BCC8;
  padding-bottom: 20px;
}

.success-message-dialog i{
  font-size: 42px;
}

.success-message-dialog p{
  padding: 20px;
}

.success-message-dialog button{
  background-color: #67727e;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

/* Slider */

.slider{
  background-color: transparent;
  border: none;
  display: flex;
  width: 650px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
}

.slider .big-image-container{
  width: 550px;
  height: 550px;
}

.slider .big-image-container .big-image{
  border-radius: 20px;
  cursor: default;
}

.slider .small-image-container{
  margin-top: 40px;
}


dialog:focus-visible{
  outline: none;
}

.slider .slider-xmark{
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -40px;
  color: rgb(30, 48, 80);
  background-color: #fff;
  border-radius: 50%;

  font-size: 32px;
  transition: color .2s ease;
}

.slider .slider-xmark:hover{
  color: #FF7E1B;
}

.slider .fa-chevron-right{
  right: 0px;
}

.slider .fa-chevron-left{
  left: 0px;
}

.slider .fa-chevron-left,
.slider .fa-chevron-right{
  user-select: none;
  z-index: 999;
  font-size: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 18px 22px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: color .2s ease;
  font-size: 20px;
  border: 1px solid #000;
}

.slider .fa-chevron-left:hover,
.slider .fa-chevron-right:hover{
  color: #FF7E1B;
  border-color: #FF7E1B;
}

.current-dialog-image{
  animation: opacity .5s ease;
}

@keyframes opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Update and Delete Buttons Styling */
.user-products{
  margin-bottom: 50px;
}
.user-btn-container{
  display: flex;
  justify-content: space-between
}
.user-btn{
  border: none;
  background-color: #FF7E1B;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

#add-product-form{
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  align-items: center;
}

#add-product-form input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#add-product-form select{
  padding: 10px;
  border-radius: 10px;
}

#add-product-form textarea{
  resize: none;
  padding: 10px;
  border-radius: 10px;
}

#add-product-form button{
  border: none;
  background-color: #FF7E1B;
  padding: 10px 30px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.submit-btn{
  border:none;
  margin-top:10px;
  background-color: #FF7E1B;
  color:white;
  padding: 5px 15px;
}

.update-page{
  display: inline-block;
  color: #1D2026;
  background-color: rgb(248,249,250);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.quantity-btn-disabled{
  pointer-events: none;
  color: rgb(216, 216, 216) !important;
}